*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header */

header{
    max-width: 1550px;
    background-color: white;
}

header div{
    display: inline-block;
}

header div img{
    padding-left: 25px;
    vertical-align: middle;
}

header .name{
    font-size: 3rem;
    font-weight: 300;
    vertical-align: middle;
}
/* /header */

/* main */
body{
    max-width: 1550px;
    background-color: #f6f8fa ;
}

div .container{
    margin-top: 30px;
}

.container{
    padding-top: 20px;
    max-width: 810px;
    border-radius: 5%;
    margin: 0 auto;
    background-color: white;
}

#button{
    width: 90px;
    padding: 5px;
    margin-left: 70px;
    border-radius: 10%;
    color: white;
    background-color: #45aded;
    text-align: center;
}

#second-button{
    width: 90px;
    padding: 5px;
    margin-left: 2px;
    border-radius: 10%;
    color: grey;
    text-align: center;
}
/* /main */

/* lista */
.list{
    padding-top: 30px;
    margin-left: 70px;
}

.title::before{
    content: '&#x25BC';
}

ul{
    padding-top: 5px;
}

li{
    padding-bottom: 10px;
    padding-top: 5px;
}

.Editorial{
    width: 70px;
    padding: 5px;
    border-radius: 10%;
    display: inline-block;
    background-color: #45aded;
    text-align: center;
    color: white;
}